<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
     <img src="../../../assets/img/cultivo.jpg" alt="">

      <div class="container buscador">
        <h1>Necesitas conseguir tu nuevo hogar, Encuentra la casa que buscas</h1>
        <div class="carousel-caption">
          <form >
            <input class="form-control me-2" type="search" placeholder="Buscar"
            aria-label="Buscar">
            <button class="btn"  > Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
