.perfil{
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.perfil_container{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perfil_form{
    border:solid lightgray 1px;
    padding: 10px;
    width: 600px;
    margin-bottom: 5px;
    font-weight:bold;
}
.perfil_boton{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

h4{
  margin: 0;
}
