<app-header></app-header>
<div class="perfil">
  <div class="perfil_container">
     <h1>Perfil</h1>
    <div class="perfil_form">
      <h4>Nombre</h4>
      <h5>Alexander Corcho</h5>
      <div class="perfil_boton">
        <button>Editar</button>
      </div>
    </div>
    <div class="perfil_form">
      <h4>Correo Electronico</h4>
      <h5>corcho@corcho.com</h5>
      <div class="perfil_boton">
        <button>Editar</button>
      </div>
    </div>
    <div class="perfil_form">
      <h4>Telefono</h4>
      <h5>31685745522</h5>
      <div class="perfil_boton">
        <button>Editar</button>
      </div>
    </div>
    <div class="perfil_form">
      <h4>contraseña</h4>
      <h5>corcho@corcho.com</h5>
      <div class="perfil_boton">
        <button>Editar</button>
      </div>
    </div>

  </div>

</div>
