<h1 class="d-flex justify-content-center">Propidedas</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://images.adsttc.com/media/images/5d1c/eb8e/284d/d16c/4100/0031/newsletter/_FJR5838.jpg?1562176282" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Casa 1</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam illum harum eveniet
           blanditiis molestias inventore! Vero repudiandae nam labore! Quia necessitatibus corrupti dolore sunt possimus
            rerum reiciendis totam quod nihil.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.adsttc.com/media/images/5d1c/eb8e/284d/d16c/4100/0031/newsletter/_FJR5838.jpg?1562176282" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Casa 2</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sit ex fuga itaque.
          Similique ipsam vitae reiciendis repellendus! Dolor eos quasi repudiandae numquam, officiis porro tenetur
           molestiae atque possimus officia.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.adsttc.com/media/images/5d1c/eb8e/284d/d16c/4100/0031/newsletter/_FJR5838.jpg?1562176282" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Casa 3</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatum, repudiandae
          vero placeat aliquid error, molestiae saepe velit deserunt accusantium ipsa quia fugit omnis expedita
           voluptas aperiam voluptatem quis quo?
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.adsttc.com/media/images/5d1c/eb8e/284d/d16c/4100/0031/newsletter/_FJR5838.jpg?1562176282" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Casa 4</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita illo earum numquam
          voluptate, quos minima reprehenderit iure. Ab, mollitia id voluptates facere doloremque deleniti illum
          sit. Necessitatibus asperiores maxime nobis?</p>
      </div>
    </div>
  </div>
</div>