<app-header></app-header>
<div class="registro">

  <div class="registro_container">
    <div class="registro_form">
      <h1>Crea una cuenta</h1>
      <form>
        <h5>Tu nombre</h5>
        <input type="text" #inputText>
        <h5>Correo Electronico</h5>
        <input type="email" #inputEmail>
        <h5>Contraseña</h5>
        <input type="password" #inputPass>
        <h5>Repite contraseña</h5>
        <input type="password" #inputRePass>
        <p class="login_terms"></p>
        <button class="registro_create_button" >Crea una
          cuenta</button>
      </form>
      <button href="" class="registro_salir_button" >SALIR</button>
    </div>
  </div>
</div>