<app-header></app-header>
<div class="login">

  <div class="login_container">
    <div class="login_form">
      <h1>Ingresar</h1>
      <form >
        <h5>Correo Electronico</h5>
        <input type="email" #inputEmail>
        <h5>Contraseña</h5>
        <input type="password" #inputPass>
        <button class="login_singIn_button" (click)="onSignUp(inputEmail.value, inputPass.value)">Ingresa</button>
        <p class="login_terms"></p>
        <button class="login_create_button" >Crea una cuenta</button>        
      </form>
      <button class="login_create_button" (click)="logout()">SALIR</button>
    </div>
  </div>
</div>