<app-header></app-header>
<div class="login">

  <div class="login_container">
    <img class="login_logo" src="" />
    <div class="login_form">
      <h1>Ingresar</h1>
      <form >
        <h5>Correo electronico</h5>
        <input type="email" type="email">
        <h5>Contraseña</h5>
        <input type="password" type="password">
        <button class="login_singIn_button" >Ingresar</button>
        <p></p>
        <button class="login_create_button"> Crea tu cuenta</button>
      </form>
    </div>


  </div>
</div>