.login{
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.login_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login_form{
    border:solid lightgray 1px;
    padding: 20px;
    width: 300px;
}
.login_form >h1{
    font-weight: 500;
    margin-bottom: 20px;

}
form >h5{
    margin-bottom: 5px;
    font-weight: 500;

}
form >input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}
form >p{
    margin-top: 15px;
    font-size: 12px;

}
.login_singIn_button{
    background-color: #f24405;
    border: 1px solid;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    color: black;
}
form >p{
    margin-top: 15px;
    font-size: 12px;
}

.login_create_button{

    border: 1px solid;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    color: black;
    border-color:grey

}