<div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <div class="header_menu_icon">
        <mat-icon>menu</mat-icon>
      </div>
      <img src="../assets/logo.png" alt="logo" class="header_menu_logo">
      <div class="header_menu_searchbar">
        <input type="text" class="header_menu_input">
        <div class="header_menu_searchbar_icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
      <div class="header_menu_singin">
        <a href="/admin/login" class="header_menu_top_item">Ingresa aquí</a>
        <a href="/admin/login" class="header_menu_bottom_item">Crea una cuenta</a>
      </div>
      <div class="header_menu_singin">
        <span class="header_menu_top_item">Notificaciones</span>
        <span class="header_menu_bottom_item">y mensajes</span>
      </div>
      <div class="header_menu_fav">
        <mat-icon>favorite</mat-icon>
        <p class="header_fav_number">3</p>
      </div>
    </div>
  </nav>
  <nav class="header_bottom">
    <div class="header_bottom_location_text">
      <span class="header_left_line_one">Ubicado en</span>
      <span class="header_left_line_one"> <strong>Apartadó</strong> </span>
    </div>
  </nav>

</div>